@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("./fonts/Poppins/Poppins-Black.ttf");
}
@font-face {
  font-family: "Ribes-Black";
  src: url("./fonts/Ribes-Black/Ribes-Black.ttf");
}
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/images/BG_1920x1080.jpg");
  background-color: #0b0b0b;
}

.nav-menu {
  background-color: #000000;
  width: 100%;
  height: 72px;
  position: fixed;
}
.nav-menu__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  margin: 0;
  height: 100%;
  list-style-type: none;
}
.nav-menu__block #btn-dropdown,
.nav-menu__block #btn-account {
  cursor: pointer;
}
.nav-menu__block-dropdown {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #090909;
  width: 100%;
  text-align: center;
  list-style-type: none;
  padding: 0;
}
.nav-menu__block-dropdown .nav-item {
  margin: 2% auto;
  font-size: 24px;
}
.nav-menu__block-dropdown .nav-item a {
  text-decoration: none;
  color: #272b3a;
}
.nav-menu__block-dropdown .btn-x-menu {
  display: none;
  background-color: none !important;
  margin: 0 auto;
  cursor: pointer;
}
.nav-menu__block-dropdown .btn-x-menu img {
  padding-top: 0.5%;
}
.nav-menu__block-dropdown .btn-x-account {
  display: none;
  background-color: none !important;
  margin: 0 auto;
  cursor: pointer;
}
.nav-menu__block-dropdown .btn-x-account img {
  padding-top: 0.5%;
}
.nav-menu__block-dropdown .login {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-menu__block-dropdown .login .btn-login {
  max-width: 80%;
  border: 1px solid #272c3a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  padding: 10px 20px;
  white-space: nowrap;
  cursor: pointer;
}
.nav-menu__block-dropdown .login .btn-login span {
  margin-right: 5%;
  font-weight: 200;
}
.nav-menu__block-dropdown .login .btn-login img {
  max-width: 100%;
}

.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../assets/images/BG_1920x1080.jpg");
}
.main__left {
  width: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  position: fixed;
}
.main__left .text {
  white-space: nowrap;
  transform: rotate(-90deg);
  color: #1f212a;
}
.main__left img {
  position: absolute;
  bottom: 3%;
}
.main__center {
  width: 70%;
  margin: 0 auto;
  padding-top: 144px;
  padding-bottom: 32px;
  overflow-x: scroll !important;
}
.main__center__intro {
  margin-bottom: 3%;
  overflow: hidden;
}
.main__center__intro img.banner {
  width: 100%;
  margin-bottom: 3%;
}
.main__center__intro .title {
  font-family: "Ribes-Black";
  font-size: 48px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: #f16522;
}
.main__center__intro .description {
  color: #fff;
  font-size: 16px;
  padding: 0 9%;
  text-align: center;
}
.main__center__intro .arrow-down {
  text-align: center;
  margin-top: 3%;
}
.main__center__about-album {
  margin-bottom: 3%;
  overflow: hidden;
}
.main__center__about-album .left h1.title {
  font-family: "Ribes-Black";
  font-size: 62px;
  font-weight: 400;
  color: #f16522;
  margin-bottom: 24px;
}
.main__center__about-album .left p.description {
  padding-left: 10%;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}
.main__center__about-album .right {
  text-align: center;
}
.main__center__about-album .right img {
  width: 366px;
}
.main__center__timeline {
  overflow: hidden;
}
.main__center__timeline h1.title {
  font-family: "Ribes-Black";
  font-size: 62px;
  font-weight: 400;
  color: #2a65fd;
  margin-bottom: 24px;
  text-align: center;
}
.main__center__timeline .all-content {
  margin: 0 auto;
}
.main__center__timeline .all-content .content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.main__center__timeline .all-content .content .event {
  width: 320px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2f3547;
  text-align: center;
  color: #fff;
  padding: 10px 50px;
}
.main__center__timeline .all-content .content .time .time-box {
  width: 100%;
  border: 1px solid #2f3547;
  padding: 3px 10px;
}
.main__center__timeline .all-content .content .time .line {
  display: block;
  height: 61px;
  width: 2px;
  background-color: #2f3547;
  transform: translate(30px, 0px);
}
.main__center__timeline .all-content .content .text-color {
  color: #2a65fd !important;
}
.main__center__timeline .all-content .final-content {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2a65fd;
  text-align: center;
  color: #2a65fd;
  padding: 15px 50px;
}
.main__center__video-gallery {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.main__center__video-gallery img.banner-video-gallery {
  width: 100%;
}
.main__center__image-gallery {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.main__center__image-gallery .image-box {
  width: 500px;
}
.main__center__image-gallery .image-box img {
  width: 100%;
}
.main__center__image-gallery .btn-see-all {
  width: 200px;
  height: 50px;
  text-align: center;
  color: #fff;
  background-color: #000000;
  border: 2px solid #2a65fd;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 18px;
}
.main__center__emotion {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}
.main__center__emotion h1.title {
  font-family: "Ribes-Black";
  font-size: 62px;
  font-weight: 400;
  color: #2a65fd;
  margin-bottom: 24px;
  text-align: center;
}
.main__center__emotion .btn-send {
  width: 250px;
  height: 50px;
  text-align: center;
  color: #fff;
  background-color: #000000;
  border: 2px solid #2a65fd;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 18px;
}
.main__center__shopping {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.main__center__shopping h1.title {
  font-family: "Ribes-Black";
  font-size: 62px;
  font-weight: 400;
  color: #2a65fd;
  margin-bottom: 24px;
  text-align: center;
}
.main__center__shopping .image-box {
  width: 100%;
  text-align: center;
}
.main__center__shopping .image-box img {
  max-width: 100%;
}
.main__center__shopping .btn-buy {
  width: 200px;
  height: 50px;
  text-align: center;
  color: #fff;
  background-color: #000000;
  border: 2px solid #2a65fd;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 18px;
}
.main__center__countdown {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: hidden;
}
.main__center__countdown .box-countdown {
  position: relative;
}
.main__center__countdown .box-countdown img {
  max-width: 100%;
}
.main__center__countdown .box-countdown #countdown {
  position: absolute;
  width: 60%;
  top: 63%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.main__center__countdown .box-countdown #countdown .wrapper-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main__center__countdown .box-countdown #countdown .wrapper-item .item {
  padding: 0 1%;
  width: 120%;
}
.main__center__countdown .box-countdown #countdown .wrapper-item .item .time {
  font-size: 102px;
  font-weight: 350;
  color: #fff;
}
.main__center__countdown .box-countdown #countdown .wrapper-item .item .text {
  font-size: 20px;
  font-weight: 350;
  color: #3b425b;
}
.main__center__countdown .box-countdown .special-thing {
  height: 73px;
  position: absolute;
  top: 88%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.main__center__countdown .box-countdown .special-thing span {
  padding: 2% 4%;
  font-size: 22px;
  font-weight: 300;
  color: #f16522;
  background: #000;
  border: 1px solid #f16522;
}
.main__center__social {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
.main__center__social .box-social {
  max-width: 100%;
  position: relative;
  padding: 32px;
  border: 1px solid #2a65fd;
}
.main__center__social .box-social .title {
  font-size: 22px;
  font-weight: 350;
  color: #2a65fd;
  text-align: center;
}
.main__center__social .box-social .background {
  width: 100%;
  margin-top: 16px;
  position: relative;
  overflow: hidden;
}
.main__center__social .box-social .background img {
  max-width: 100%;
}
.main__center__social .box-social .background .text {
  position: absolute;
  top: 35%;
  left: 10%;
  font-family: "Ribes-Black";
  font-size: 32px;
  font-weight: 400;
  color: #fff;
}
.main__center__social .box-social .background .wrapper-social {
  position: absolute;
  top: 35%;
  right: 10%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main__center__social .box-social .background .wrapper-social__block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__center__social .box-social .background .wrapper-social__block__item {
  min-width: 220px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  border: 2px solid #234ec3;
  padding: 2%;
  margin-right: 5%;
}
.main__center__social .box-social .background .wrapper-social__block__item .info {
  width: 100%;
  display: flex;
  align-items: center;
}
.main__center__social .box-social .background .wrapper-social__block__item .info .img-box {
  margin-right: 5%;
}
.main__center__social .box-social .background .wrapper-social__block__item .info .text-box {
  color: #fff;
  font-size: 10px;
  font-weight: 300;
}
.main__center .footer {
  max-width: 100%;
  margin-top: 3%;
  overflow: hidden;
}
.main__center .footer h1.title {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  text-align: center;
}
.main__center .footer .end-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 10%;
}
.main__center .footer .end-footer .copyright {
  font-size: 14px;
  font-family: 300;
  color: #2f3547;
  margin-right: 4%;
  white-space: nowrap;
}
.main__right {
  width: 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  position: fixed;
  right: 0;
}
.main__right__menu {
  margin: unset;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.main__right__menu li {
  margin: 30% 0;
  cursor: pointer;
}
.main__right__menu li a {
  text-decoration: none;
  color: #272b3a;
}
.main__right__menu li a:hover {
  opacity: 0.9;
}
.main__right__icon i.fa-chevron-up {
  margin-bottom: 30%;
}
.main__right__icon i.fa-chevron-down {
  margin-top: 30%;
}
.main__right img {
  position: absolute;
  bottom: 3%;
}

.active {
  color: #234ec3 !important;
}

.hidden-desktop {
  display: none;
}

.show-mobile {
  display: none !important;
}

::-webkit-scrollbar {
  display: none;
}

.swiper-container {
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

.swiper-slide img {
  max-width: 100%;
  height: 234px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  display: flex;
  justify-content: center;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 92%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main__center__emotion .swiper-slide .col {
  width: 80%;
  margin: 0 auto;
  padding: 5%;
  border: 1px solid #1b1e26;
  background: #000000;
  height: 423px;
  overflow: hidden;
}
.main__center__emotion .swiper-slide .col h1 {
  width: 100%;
  font-weight: 500;
  text-align: left;
  font-size: 18px;
  padding-bottom: 4%;
  border-bottom: 1px solid #1b1e26;
}
.main__center__emotion .swiper-slide .col p {
  padding-top: 4%;
  font-size: 16px;
  font-weight: 350;
  color: #fff;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
}

.main__center__image-gallery .swiper-slide,
.main__center__video-gallery .swiper-slide {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__center__image-gallery .swiper-slide img,
.main__center__video-gallery .swiper-slide img {
  padding: 0 2%;
  cursor: pointer;
}

@media screen and (max-width: 1650px) {
  .main__center__social .box-social .background .text {
    top: 28%;
    left: 5%;
  }
  .main__center__social .box-social .background .wrapper-social {
    top: 28%;
    max-width: 100%;
  }
}
@media screen and (max-width: 1350px) {
  .nav-menu__block #btn-logo {
    margin-right: 8%;
  }
  .main__left {
    display: none;
  }
  .main__center {
    width: 100%;
    padding: 15% 15px;
  }
  .main__right {
    display: none;
  }
  .swiper-slide .col {
    padding: 0 3%;
  }
  .main__center__intro,
  .main__center__about-album,
  .main__center__emotion,
  .main__center__shopping,
  .main__center__social,
  .main__center__image-gallery,
  .main__center__video-gallery,
  .main__center__timeline,
  .main__center__emotion .main__center__intro {
    overflow: hidden;
  }
  .main__center__intro .description,
  .main__center__about-album .description,
  .main__center__emotion .description,
  .main__center__shopping .description,
  .main__center__social .description,
  .main__center__image-gallery .description,
  .main__center__video-gallery .description,
  .main__center__timeline .description,
  .main__center__emotion .main__center__intro .description {
    font-weight: 300;
  }
  .main__center__about-album .left h1.title {
    margin-left: 15px;
    text-align: left;
    font-size: 56px;
  }
  .main__center__about-album .left p.description {
    padding: 0 15px;
  }
  .main__center__shopping .btn-buy {
    margin-bottom: 3%;
  }
  .main__center__countdown .box-countdown #countdown {
    width: 100%;
    top: 60%;
  }
  .main__center__countdown .box-countdown #countdown .wrapper-item .item .time {
    font-size: 62px;
    margin: 0;
    padding: 0;
  }
  .main__center__countdown .box-countdown #countdown .wrapper-item .item .text {
    font-size: 16px;
  }
  .main__center__countdown .box-countdown .special-thing {
    top: 93%;
  }
  .main__center__countdown .box-countdown .special-thing span {
    font-size: 14px;
  }
  .main__center__social .box-social .background .text {
    top: 25%;
    left: 5%;
  }
  .main__center__social .box-social .background .wrapper-social {
    top: 25%;
    max-width: 100%;
  }
  .main__center__social .box-social .background .wrapper-social__block {
    max-width: 100%;
  }
}
@media screen and (max-width: 1250px) {
  .main__center__social .box-social .background .text {
    top: 18%;
    left: 5%;
  }
  .main__center__social .box-social .background .wrapper-social {
    top: 18%;
    max-width: 100%;
  }
  .main__center .footer .end-footer .copyright {
    margin-right: 8%;
  }
}
@media screen and (max-width: 992px) {
  .show-tablet {
    display: block;
  }
  .hide-tablet {
    display: none;
  }
  .swiper-slide {
    padding: 0 10%;
  }
  .swiper-slide img {
    -o-object-fit: contain;
       object-fit: contain;
    max-height: 234px;
  }
  .main__center__timeline .all-content .content {
    height: 120px;
    justify-content: center;
  }
  .main__center__timeline .all-content .content .time {
    margin-right: 3%;
  }
  .main__center__timeline .all-content .content .time .line {
    height: 31px;
  }
  .main__center__timeline .all-content .content .event {
    min-width: 230px;
    padding: 8px 10px;
  }
  .main__center__timeline .all-content .content .event span {
    font-size: 14px;
  }
  .main__center__countdown .box-countdown #countdown {
    width: 100%;
    top: 60%;
  }
  .main__center__countdown .box-countdown #countdown .wrapper-item .item .time {
    font-size: 42px;
    margin: 0;
    padding: 0;
  }
  .main__center__countdown .box-countdown #countdown .wrapper-item .item .text {
    font-size: 16px;
  }
  .main__center__countdown .box-countdown .special-thing {
    top: 93%;
  }
  .main__center__countdown .box-countdown .special-thing span {
    font-size: 12px;
  }
  .main__center__social .box-social .background img {
    width: 100%;
  }
  .main__center__social .box-social .background .wrapper-social {
    position: static;
    padding: 0 15px;
    max-width: 100%;
    top: 4%;
  }
  .main__center__social .box-social .background .wrapper-social__block__item {
    margin-right: 0;
    min-width: 250px;
  }
  .main__center__social .box-social .background .wrapper-social__block {
    justify-content: space-around;
    max-width: 100%;
  }
}
@media screen and (max-width: 687px) {
  body {
    background-image: url("../assets/images-mobile/BG.jpg");
    overflow: hidden;
  }
  .show-mobile {
    display: block !important;
  }
  .hide-mobile {
    display: none !important;
  }
  .video-container iframe {
    width: 100%;
  }
  .main__center__intro,
  .main__center__about-album,
  .main__center__emotion,
  .main__center__shopping,
  .main__center__social,
  .main__center__image-gallery,
  .main__center__video-gallery,
  .main__center__timeline,
  .main__center__emotion .main__center__intro {
    margin-top: 8%;
    overflow: hidden;
  }
  .main__center__intro h1.title,
  .main__center__about-album h1.title,
  .main__center__emotion h1.title,
  .main__center__shopping h1.title,
  .main__center__social h1.title,
  .main__center__image-gallery h1.title,
  .main__center__video-gallery h1.title,
  .main__center__timeline h1.title,
  .main__center__emotion .main__center__intro h1.title {
    font-size: 36px;
  }
  .main__center__intro .arrow-down,
  .main__center__about-album .arrow-down,
  .main__center__emotion .arrow-down,
  .main__center__shopping .arrow-down,
  .main__center__social .arrow-down,
  .main__center__image-gallery .arrow-down,
  .main__center__video-gallery .arrow-down,
  .main__center__timeline .arrow-down,
  .main__center__emotion .main__center__intro .arrow-down {
    margin-top: 6%;
  }
  .main__center__intro .description,
  .main__center__about-album .description,
  .main__center__emotion .description,
  .main__center__shopping .description,
  .main__center__social .description,
  .main__center__image-gallery .description,
  .main__center__video-gallery .description,
  .main__center__timeline .description,
  .main__center__emotion .main__center__intro .description {
    font-weight: 300;
  }
  .main__center__intro .btn-send,
  .main__center__intro .btn-see-all,
  .main__center__intro .btn-buy,
  .main__center__intro .btn-back,
  .main__center__about-album .btn-send,
  .main__center__about-album .btn-see-all,
  .main__center__about-album .btn-buy,
  .main__center__about-album .btn-back,
  .main__center__emotion .btn-send,
  .main__center__emotion .btn-see-all,
  .main__center__emotion .btn-buy,
  .main__center__emotion .btn-back,
  .main__center__shopping .btn-send,
  .main__center__shopping .btn-see-all,
  .main__center__shopping .btn-buy,
  .main__center__shopping .btn-back,
  .main__center__social .btn-send,
  .main__center__social .btn-see-all,
  .main__center__social .btn-buy,
  .main__center__social .btn-back,
  .main__center__image-gallery .btn-send,
  .main__center__image-gallery .btn-see-all,
  .main__center__image-gallery .btn-buy,
  .main__center__image-gallery .btn-back,
  .main__center__video-gallery .btn-send,
  .main__center__video-gallery .btn-see-all,
  .main__center__video-gallery .btn-buy,
  .main__center__video-gallery .btn-back,
  .main__center__timeline .btn-send,
  .main__center__timeline .btn-see-all,
  .main__center__timeline .btn-buy,
  .main__center__timeline .btn-back,
  .main__center__emotion .main__center__intro .btn-send,
  .main__center__emotion .main__center__intro .btn-see-all,
  .main__center__emotion .main__center__intro .btn-buy,
  .main__center__emotion .main__center__intro .btn-back {
    margin-top: 10%;
  }
  .main__center__intro .btn-buy,
  .main__center__about-album .btn-buy,
  .main__center__emotion .btn-buy,
  .main__center__shopping .btn-buy,
  .main__center__social .btn-buy,
  .main__center__image-gallery .btn-buy,
  .main__center__video-gallery .btn-buy,
  .main__center__timeline .btn-buy,
  .main__center__emotion .main__center__intro .btn-buy {
    margin-bottom: 10%;
  }
  .main__center__about-album .left h1.title {
    margin-left: 15px;
    text-align: left;
    font-size: 56px;
  }
  .main__center__about-album .left p.description {
    padding: 0 15px;
  }
  .main__center__timeline .all-content .content {
    height: 120px;
    justify-content: center;
  }
  .main__center__timeline .all-content .content .time {
    margin-right: 3%;
  }
  .main__center__timeline .all-content .content .time .line {
    height: 31px;
  }
  .main__center__timeline .all-content .content .event {
    min-width: 230px;
    padding: 8px 10px;
  }
  .main__center__timeline .all-content .content .event span {
    font-size: 14px;
  }
  .main__center__emotion .swiper-slide .col {
    width: 90%;
  }
  .main__center__emotion .swiper-slide .col p {
    -webkit-line-clamp: 13;
  }
  .main__center__countdown .box-countdown #countdown {
    width: 100%;
    top: 55%;
  }
  .main__center__countdown .box-countdown #countdown .wrapper-item .item .time {
    font-size: 62px;
    margin: 0;
    padding: 0;
  }
  .main__center__countdown .box-countdown #countdown .wrapper-item .item .text {
    font-size: 16px;
  }
  .main__center__countdown .box-countdown .special-thing {
    top: 93%;
  }
  .main__center__social .box-social {
    padding: 16px 1%;
  }
  .main__center__social .box-social h1.title {
    font-size: 16px;
  }
  .main__center__social .box-social .background .wrapper-social {
    position: static;
    max-width: 100%;
  }
  .main__center__social .box-social .background .wrapper-social__block {
    max-width: 100%;
  }
  .main__center__social .box-social .background .wrapper-social__block__item {
    margin-right: 1%;
  }
  .main__center .footer {
    margin-top: 20%;
  }
  .main__center .footer h1.title {
    font-size: 18px;
  }
  .main__center .footer .end-footer {
    margin-top: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main__center .footer .end-footer .copyright {
    margin-right: 0;
  }
  .main__center .footer .end-footer > div {
    padding-bottom: 5%;
    text-align: center;
  }
  .main__center .footer .end-footer > div:last-child {
    padding-bottom: 0;
  }
  .main__center .footer .form-group {
    width: 100%;
  }
  .modal-wrapper {
    padding: 0 !important;
  }
  .modal-content {
    padding: 0 !important;
  }
  .modal-body .form-control {
    font-size: 14px !important;
  }
  .modal-header .modal-title {
    font-size: 16px !important;
  }
  .modal-header .btn-x-menu {
    width: 20px !important;
    height: 20px !important;
  }
  .modal-header .btn-x-menu img {
    max-width: 100%;
  }
}
@media screen and (max-width: 578px) {
  .main__center__social .box-social {
    padding: 16px 1%;
  }
  .main__center__social .box-social h1.title {
    font-size: 16px;
  }
  .main__center__social .box-social .background .wrapper-social {
    position: static;
    max-width: 100%;
  }
  .main__center__social .box-social .background .wrapper-social__block {
    max-width: 100%;
  }
  .main__center__social .box-social .background .wrapper-social__block__item {
    min-width: 160px;
    margin-right: 1%;
  }
}
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.animate {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */